<header class="header">
  <ul class="header-list">
    <li>
      <a href="#" class="header-link logo"
        ><img src="../img/logo.png" width="80" height="80" />
        <svg width="84" height="19">
          <use href="../img/icons.svg#icon-jefferson"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#" class="header-link menu">Menu</a>
      <nav class="a">
        <ul>
          <li><a href="#">About me</a></li>
          <li><a href="">Benefits</a></li>
          <li><a href="">Projects</a></li>
          <li><a href="">FAQ</a></li>
        </ul>
      </nav>
    </li>
    <li>
      <div class="order">
        <a href="#" class="header-link">Order the project</a>
      </div>
    </li>
  </ul>
</header>
