<header class="header">
  <div class="header-box container">
    <a href="../index.html" class="header-link logo"
      ><img src="./img/header/logo.png" alt="logo" width="80" height="80" />
      <svg width="84" height="19">
        <use href="./img/icons.svg#icon-jefferson"></use>
      </svg>
    </a>
    <div class="menu-box">
      <a href="#" class="header-link menu"
        ><span class="span-menu">Menu</span></a
      >
      <nav class="header-navigation nav-tab visually-hidden">
        <ul class="nav-list">
          <li class="nav-li">
            <a href="#about-me" class="nav-link tablet">About me</a>
          </li>
          <li class="nav-li">
            <a href="#benefits" class="nav-link tablet">Benefits</a>
          </li>
          <li class="nav-li">
            <a href="#projects" class="nav-link tablet">Projects</a>
          </li>
          <li class="nav-li">
            <a href="#faq" class="nav-link tablet">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="#work-together" class="order">Order the project</a>
    <button type="button" class="burger">
      <svg class="burger-icon" width="21" height="9">
        <use href="./img/icons.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
</header>
