<div class="menu-overlay container">
  <div class="menu-modal">
    <button type="button" class="close-menu">
      <svg class="close-icon" width="28" height="28">
        <use href="../img/icons.svg#icon-close-menu"></use>
      </svg>
    </button>
    <nav class="header-navigation modal-nav">
      <ul class="nav-list-modal">
        <li class="nav-li">
          <a href="#about-us" class="nav-link after-line">About me</a>
        </li>
        <li class="nav-li">
          <a href="#benefits" class="nav-link after-line">Benefits</a>
        </li>
        <li class="nav-li">
          <a href="#projects" class="nav-link after-line">Projects</a>
        </li>
        <li class="nav-li">
          <a href="#faq" class="nav-link after-line">FAQ</a>
        </li>
      </ul>
    </nav>
    <div class="order-modal">
      <a href="#work-together" class="header-link work-together"
        >Order the project</a
      >
    </div>
  </div>
</div>
