<section class="section-reviews">
  <div class="reviews-page container">
    <h2 class="reviews-main-text">REVIEWS</h2>
    <div class="reviews-container">
      <div class="reviews-container-ul swiper">
        <ul id="reviews-list" class="reviews-list swiper-wrapper"></ul>
      </div>
    </div>
    <div class="reviews-slider-controls">
      <div class="swiper-button-prev-control">
        <svg width="32px" height="32px" class="reviews-svg">
          <use href="./img/rev-icons.svg#icon-arrow-narrow-left"></use>
        </svg>
      </div>
      <div class="swiper-button-next-control">
        <svg width="32px" height="32px" class="reviews-svg">
          <use href="./img/rev-icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
    </div>
    <div id="error-container" class="error-message" style="display: none">
      Failed to load reviews.
    </div>
    <div id="placeholder" class="placeholder" style="display: none">
      Not found
    </div>
  </div>
</section>
