.covers {
  height: 508px;
  background-image: url(../img/covers/Covers-mob@1x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  backdrop-filter: blur(30px);
  margin-bottom: 164px;
  overflow: hidden;
}
.marquee {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 375px;
}
.marquee__inner {
  display: flex;
  width: 100vw;
  min-width: 1000px;
  margin: 0 auto;
  transform: rotate(16deg);
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.marquee__line {
  flex-shrink: 0;
  font-size: clamp(1.125rem, 0.8023rem + 1.2064vw, 2.25rem);
  line-height: 1.5;
  font-weight: 900;
  text-transform: uppercase;
  animation: running-animation 20s linear infinite;
  white-space: nowrap;
  width: 282px;
  height: 162px;
  animation-duration: 10s;
}

@media (min-width: 375px) {
  .covers {
    background-image: url(../img/covers/covers-mob@1x.jpg);
    height: 960px;
    background-size: cover;
  }
  .marquee {
    max-width: 767px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .covers {
    background-image: url(../img/covers/covers-mob@2x.jpg);
  }
}
@media (min-width: 768px) {
  .covers {
    background-image: url(../img/covers/covers-tab@1x.jpg);
  }
  .marquee__line {
    width: 544px;
    height: 314px;
  }
  .marquee {
    gap: 55px;
    max-width: 1439px;
  }
  .marquee__inner {
    gap: 50px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .covers {
    background-image: url(../img/covers/covers-tab@2x.jpg);
  }
}
@media (min-width: 1440px) {
  .covers {
    background-image: url(../img/covers/covers-desk@1x.jpg);
    max-width: 1440px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 2dppx),
  (min-resolution: 192dpi) {
  .covers {
    background-image: url(../img/covers/covers-desk@2x.jpg);
  }
}
