html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  font-family: 'Inter Tight', sans-serif;
  color: #fff;
  margin: 0 auto;
  position: absolute;
  z-index: 100;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

/* #region Header Mobile */

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
}

.logo {
  display: flex;
  gap: 8px;
}

.li-menu,
.li-order {
  display: none;
}

.header-navigation {
  text-align: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.nav-li {
  transition: color 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.nav-li:hover {
  color: #263c3b;
}

.burger {
  position: relative;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
}

.burger-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #fff;
  transition: fill 300ms cubic-bezier(0.19, 1, 0.22, 1);
}

.burger:hover > .burger-icon,
.burger:focus > .burger-icon {
  fill: #263c3b;
}

/* #endregion Header Mobile */

/* #region Header Tablet */

@media only screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .li-menu,
  .li-order {
    display: block;
  }

  .header-box {
    display: block;
    padding: 0;
  }

  .header-box .header-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .header-link {
    color: inherit;
    font-family: 'Inter Tight', sans-serif;
  }

  .menu {
    text-align: center;
    transition: color 300ms cubic-bezier(0.19, 1, 0.22, 1),
      background-color 300ms cubic-bezier(0.19, 1, 0.22, 1);
    margin-bottom: 8px;
    padding: 10px 13.5px;
  }

  .span-menu {
    position: relative;
  }

  .span-menu::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: #fff;
  }

  .menu:hover {
    color: #263c3b;
  }

  .menu:hover .span-menu::after {
    background-color: #263c3b;
  }

  .nav-link {
    font-family: 'Inter Tight', sans-serif;
  }

  .nav-link.tablet {
    text-decoration: none;
  }

  .nav-link {
    transition: color 300ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .nav-link:hover,
  .nav-link:focus {
    color: #263c3b;
  }

  .li-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .order {
    display: flex;
    border-radius: 60px;
    padding: 18px 24px;
    width: 163px;
    height: 55px;
    background-color: #2b4441;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    cursor: pointer;
    transition: background-color 300ms cubic-bezier(0.19, 1, 0.22, 1);
  }

  .order:hover,
  .order:focus {
    background-color: #263c3b;
  }
}

/* #endregion Header Tablet */
